  #custom-tooltip {
    transition: opacity 0.2s ease;
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
  }
  
  .progress-chart-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 300px; /* Set a fixed height */
  }
  
  .chart-title {
    text-align: center;
    color: #1EB62D;
    font-family: 'Tomorrow', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .chart-label {
    text-align: center;
    color: #1EB62D;
    font-family: 'Tomorrow', sans-serif;
    font-size: 16px;
    margin-top: 10px;
  }