.home-container {
  margin: 0;
  padding: 0;
  background-color: #000d1c;
  position: relative; /* Ensure the container can position children absolutely */
  text-align: center; /* Center the text inside the container */
}

/* Add styles for the hero section (image and text) */
/* Hero section with a gradient overlay */
.hero-section {
  position: relative;
  width: 100%;
  height: 600px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%, /* This makes the gradient start transparent */
      rgba(0, 13, 28, 1) 100% /* This is the end color that matches your background */
    ),
    url('../../assets/images/home_background.png'); /* Replace with your actual path to the background image */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

}

.hero-text {
  position: absolute;
  z-index: 2; /* Make sure the text is on top */
  color: #1bc429;
  font-family: 'Nyxerin', sans-serif;
  text-align: center;
  top: 55%; /* Adjust this value to move the text lower */
  transform: translateY(30%); /* Centers the text vertically after adjusting top */
}

.hero-text h1 {
  font-size: 84px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 24px;
}

/* Add styling for upcoming games section */
.upcoming-games {
  margin-top: 20px;
  text-align: center;
  color: #1bc429;
}

/* Noise effect background */
.noiseeffect {
  position: absolute; /* Ensure it's positioned over the hero section */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Layer the noise effect below the text */
  background-image: url('../../assets/images/noise_home_background.png'); /* Use your noise image */
  background-size: cover;
  background-position: center;
  opacity: 1; /* Adjust the opacity of the noise to make it subtle */
  pointer-events: none; /* Prevent it from interfering with any interactions */
}
