.frame {
    position: relative;
    padding: 20px 0; /* Adjust as needed */
}

.carousel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Space below the header */
    position: relative;
    gap: 20px; /* Space between the buttons and the title */
}

.carousel-nav {
    background-color: transparent; /* Transparent background */
    color: #1EB62D; /* Green color matching the title */
    border: none;
    font-size: 40px; /* Adjust to match the size of the arrows in your image */
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.carousel-nav:hover {
    color: #00ff00; /* Slightly lighter green on hover */
    text-decoration: none; /* Ensure no underline */

}

.carousel-title {
    font-family: 'Tomorrow', sans-serif;
    font-size: 30pt;
    color: #1EB62D; /* Green color */
    text-align: center;
    font-weight: 400;
    margin: 0; /* Remove any default margin */
    text-transform: uppercase; /* Ensure the title is in uppercase */
}
