

.game-filter-container {
    padding: 90px 100px; 
    text-align: center;
    color: #1EB62D;
}

/* Title "choose by..." above everything */
.choose-by-title {
    font-family: 'Tomorrow', sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    color: #1BC429;
}

/* Styles for the filter type buttons (DATE, LEVEL, PLACE) */
.filter-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px; 
    margin-bottom: 10px; 
}

.filter-titles span {
    font-family: 'Tomorrow', sans-serif;
    color: #0F6216;
    font-size: 40px;
    cursor: pointer;
}

.filter-titles span.active {
    color: #1BC429;
    font-family: 'Nyxerin', sans-serif;
    font-size: 40px;
}

/* Filter option container */
.filter-option {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

/* Ensure the filter options are properly centered */
.filter-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

/* Carousel Header Styling */
.carousel-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.carousel-title {
    font-size: 20px;
    margin: 0 15px;
}

/* Navigation Buttons */
.carousel-nav {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #1EB62D;
    transition: color 0.3s;
}

.carousel-nav:hover {
    color: #148124;
}

/* Container for the filtered games */
.filtered-games {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    justify-items: center;
    gap: 20px;
}

/* Center the filtered games when there are few */
.filtered-games.centered {
    justify-content: center;
}



/* Responsive adjustments */
@media (max-width: 1200px) {
    .filtered-games {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .filtered-games {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .filtered-games {
        grid-template-columns: 1fr;
    }
}
