/* Container for the entire filter section */
.game-filter-container {
    padding: 20px; /* Reduced padding */
    text-align: center;
    color: #1EB62D;
}

/* Styles for the filter type buttons (DATE, LEVEL, PLACE) */
.filter-titles {
    display: flex;
    justify-content: center;
    gap: 20px; /* Reduced gap */
    margin-bottom: 10px; /* Reduced margin */
}

.filter-titles span {
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    cursor: pointer;
}

/* Ensure the filter options are properly centered */
.filter-options-container {
    display: flex;
    flex-direction: column; /* Stack the options and the carousel-header */
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px; /* Reduced margin */
    position: relative;
}

/* Filter option styling */
.filter-option {
    display: inline-block;
    flex-shrink: 0;
}

/* Remove the date under each day button */
.filter-date {
    display: none;
}

/* Styles for the filtered game cards */
.filtered-games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusted size */
    justify-items: center;
    gap: 30px; /* Reduced gap between game cards */
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .filter-titles {
        flex-direction: column;
        gap: 10px; /* Reduced gap for mobile */
    }

    .filter-options button {
        min-width: 100px;
        padding: 8px 15px;
    }
}
