.subscription-info-container {
    text-align: center;
    color: #1EB62D;
    margin-top: 20px;
    
  }
  
  .subscription-info-container h2 {
    font-size: 48px;
    font-family: 'Tomorrow', sans-serif;
  }
  
  .subscription-info-container p {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(30, 182, 45, 0.8);
  }
  
  .price-container {
    margin-bottom: 20px;
  }
  
  .price-container .price {
    font-size: 48px;
    font-family: 'Tomorrow', sans-serif;
    color: #ffffff;
  }
  
  .price-container .status {
    font-size: 24px;
    font-family: 'Tomorrow', sans-serif;
    color: rgba(30, 182, 45, 0.8);
  }
  
  .subscription-actions {
    display: flex;
  }
  