/* profile.css */

.profile-container {
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
    background-color: #000d1c; /* Dark background */
  
  }
  
  .profile-container h2, .profile-container p {
    margin: 0 0 20px 0; /* Add bottom margin only if needed */
  }
  
  .profile-container p:last-child {
    margin-bottom: 0; /* Ensure the last paragraph has no bottom margin */
  }
  