.profile-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(
      180deg,
      rgb(27, 196, 41) 2%,
      rgb(13.5, 104.5, 34.5) 50%,
      rgb(0, 13, 28) 100%
    );
    position: relative;
    overflow: hidden;
}

.noiseeffect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('../../assets/images/noise_home_background.png');
    background-size: cover;
    background-position: center;
    opacity: 1;
    pointer-events: none;
}

.profile-info {
    display: flex;
    align-items: center;
    z-index: 3;
}

.profile-image {
    position: relative;
    width: 460px;
    height: 427px;
    z-index: 4;
    cursor: pointer;
}

.profile-image img {
    width: 100%;
    height: 100%;
    z-index: 4;
    clip-path: path("M153.032 0.744141C193.713 0.744141 230.687 16.618 258.097 42.5097L258.097 42.5081C292.09 74.6073 310.897 72.8477 326.946 55.8512L327.004 56.1437C340.951 41.4066 360.695 32.2128 382.587 32.2128C424.845 32.2128 459.102 66.4696 459.102 108.728C459.102 143.497 435.91 172.85 404.153 182.161C376.248 194.303 363.738 215.317 380.546 261.872C386.064 275.778 389.097 290.941 389.097 306.812C389.097 374.14 334.518 428.719 267.19 428.719C209.797 428.719 161.667 389.058 148.714 335.647C144.097 318.551 140.215 311.541 124.296 305.292C76.3543 305.713 74.7998 343.25 80.3086 355.418C82.7718 360.216 84.1618 365.655 84.1618 371.419C84.1618 390.794 68.4553 406.501 49.0802 406.501C29.7052 406.501 13.9987 390.794 13.9987 371.419C13.9987 354.541 25.9185 340.446 41.7996 337.094C55.6976 333.571 87.69 304.953 45.0568 262.22C17.2255 234.509 0 196.154 0 153.776C0 69.2588 68.5147 0.744141 153.032 0.744141Z");
}

.profile-image:hover .overlay {
    opacity: 1;
}

.profile-details {
    margin-left: 50px;
    text-align: left;
    z-index: 3;
}

.profile-details p:first-child {
    font-size: 64px;
    font-family: 'Nyxerin', sans-serif;
    margin-bottom: 10px;
    color: #000D1C;
}

.profile-details p {
    font-size: 20px;
    margin: 5px 0;
    color: #000D1C;
}

.profile-details p:last-child {
    font-family: 'Nyxerin', sans-serif;
    font-size: 28px;
    color: #000D1C;
    margin-top: 10px;
}

/* Positioning the button with space below */
.profile-edit-btn {
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 4;
}

/* Remove confirmation modal styles */
.confirmation-modal,
.confirmation-content {
    display: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .profile-info-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }

    .profile-info {
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .profile-details {
        margin-left: 0;
        margin-bottom: 100px;
        text-align: center;
    }

    .profile-details p:first-child {
        font-size: 48px;
    }

    .profile-details p {
        font-size: 18px;
    }

    /* Adjust the button positioning on small screens */
    .profile-edit-btn {
        position: static;       /* Reset position to normal flow */
        margin-top: 50px; /* Add space below the button */
        align-self: center;     /* Center the button horizontally */
        z-index: 4;             /* Ensure it's above other elements */
    }
}
