.stats-container {
  text-align: center;
  color: #1EB62D;
  margin-top: 20px;
}

.points-display {
  font-size: 64px;
  font-family: 'Nyxerin', sans-serif;
  color: #1EB62D;
  padding-top: 50px;
}

.stats-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 3px solid #1EB62D;
  border-radius: 50%;
  font-family: 'Nyxerin', sans-serif;
  margin: 50px;
}

.stat-value {
  font-size: 60px;
  color: #1EB62D;
}

.stat-label {
  font-size: 20px;
  color: rgba(30, 182, 45, 0.8);
  margin-top: 10px;
}

/* Separator */
.separator {
  margin: 30px;
  font-size: 36px;
  color: #1EB62D;
}

.separator .highlight {
  font-family: 'Nyxerin', sans-serif;
  font-size: 60px;
  margin-left: 30px;
  margin-right: 30px;
  color: #1EB62D;
}

/* ga stats section */
.ga-stats-section {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin: 50px;
}

.ga-stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nyxerin', sans-serif;

}

.ga-stats-item .stat-value {
  font-size: 60px;
  color: #1EB62D;
}

.ga-stats-item .stat-label {
  font-family: 'Tomorrow', sans-serif;
  font-size: 36px;
  color: rgba(30, 182, 45, 0.8);
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .stats-grid, .ga-stats-section {
    flex-direction: column;
    gap: 20px;
  }

  .stat-item, .ga-stats-item {
    width: 100px;
    height: 100px;
  }

  .stat-value {
    font-size: 36px;
  }

  .stat-label {
    font-size: 16px;
  }

  .separator {
    font-size: 20px;
  }

  .separator .highlight {
    font-size: 28px;
  }
}
