@font-face {
  font-family: 'Nyxerin';
  src: url('./assets/fonts/NYXERIN.woff') format('woff'),
       url('./assets/fonts/NYXERIN.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('./assets/fonts/Tomorrow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-primary);
}

/* Specific classes for each font */
.nyxerin-text {
  font-family: 'Nyxerin', sans-serif;
}

.tomorrow-text {
  font-family: 'Tomorrow', sans-serif;
}

/* Define CSS variables or set fonts globally */
:root {
  --font-primary: 'Tomorrow', sans-serif;
  --font-secondary: 'Nyxerin', sans-serif;
}
